nav{
    background-color: #282829;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-weight: 600;
}

.one{
    color: #FFDB70;
    transition: 0.3s;
}

li{
    cursor: pointer;
}