  <div class="container">
    
      <app-sidebar></app-sidebar>

    <div class="mainnnn">
      <div class="nav">

          <app-navbar></app-navbar>

      </div>
  <main class="main-content">
        <section class="about">
        <h1>Projects</h1>
        <div class="hr1"></div>
        <p class="text-3d">Hello! I’m Tsotne Ivanashvili, a passionate web developer based in Tbilisi, Georgia.</p>
          <p class="text-3d">I specialize in building modern, responsive websites using technologies like HTML, CSS, JavaScript, TypeScript, React and Angular. I enjoy turning ideas into real-world web experiences that are both visually appealing and highly functional.</p>
          <p class="text-3d">Whether it's creating an interactive front-end with clean UI/UX or integrating functionality behind the scenes, I love the challenge of solving problems through code.

  Outside of coding, I enjoy learning new technologies, experimenting with design, and building side projects that push my skills further.

  I’m always excited to collaborate on creative web projects or contribute to something meaningful.</p>
      </section>

      <section class="what-i-do">
        <h2>What Am I Capeable Of:</h2>
        <div class="cards">
          <div class="card">
            <img class="iconss" src="https://codewithsadee.github.io/vcard-personal-portfolio/assets/images/icon-design.svg" alt="">
            <h3>Web Design</h3>
            <p>The most modern and high-quality design made at a professional level.</p>
          </div>
          <div class="card">
            <img src="https://codewithsadee.github.io/vcard-personal-portfolio/assets/images/icon-dev.svg" alt="">
            <h3>Web Development</h3>
            <p>High-quality development of sites at the professional level.</p>
          </div>

                  <div class="card">
            <i class="fa-brands fa-figma fa-2xl" style="color: #FFDB70;"></i>
            <h3>Figma UI/UX Design</h3>
            <p>Modern, collaborative interface design and prototyping with pixel-perfect precision.</p>
          </div>

          <div class="card">
            <i class="fa-brands fa-github fa-2xl" style="color: #FFDB70;"></i>          <h3>Github</h3>
            <p>Efficiently managing repositories, collaborating on projects, and leveraging version control for professional-grade code development.</p>
          </div>

          <div class="card">
            <img class="iconebi" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Blender_logo_no_text.svg/939px-Blender_logo_no_text.svg.png" alt="">
            <h3>Blender 3D Design</h3>
            <p>Professional-grade 3D modeling, animation, and rendering for creative and technical projects.</p>
          </div>
          





        </div>
      </section>
      
    </main>
    </div>
    
  </div>
