:host {
  display: block;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  background-color: #181818;
  font-family: 'Courier New', monospace;
  padding: 2rem; /* ensures padding from all borders */
  box-sizing: border-box;
}

.main{
      display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.text-group{
  color: #a8a8a8;
  text-align: center;

}

.decrypted-wrapper{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
