.loading-screen {
  display: grid;
  place-content: center;
  height: 100dvh;
  width: 100vw;
  background-color: #181818;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 8px solid #2f2e2e;
  border-top: 8px solid #b09250;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
