 
<div style="position: relative; width: 100%; height: 100%; z-index: 9999;">
@if (!appLoaded) {
    <canvas #sparkCanvas style="position: absolute; inset: 0; pointer-events: none; z-index: 9999; "></canvas>
  <app-loading></app-loading> 

} @else {
  <canvas #sparkCanvas style="position: absolute; inset: 0; pointer-events: none; z-index: 9999;"></canvas>
  <router-outlet></router-outlet>
}
  <canvas
    #sparkCanvas
    style="position: absolute; inset: 0; pointer-events: none; z-index: 9999;"
  ></canvas>
  <div style="position: relative;  z-index: 9999;">

    <ng-content></ng-content>
  </div>
</div>  

