<div class="main-side">
  <aside class="sidebar">
    <div class="mainside">
      <div class="avatar">
        <a routerLink="/"><img class="img" src="https://codewithsadee.github.io/vcard-personal-portfolio/assets/images/my-avatar.png" alt="dasdad"></a> 
      </div>
    </div>
    <div class="header-info">
      <h2>Tsotne Ivanashvili</h2>
      <div class="role">Web developer</div>
    </div>
    <div class="info">
      <div class="hr"></div>
      <div class="item">
        <span class="icon"><i class="fa-solid fa-envelope fa-lg" style="color: #FFDB70;"></i></span>
        <div class="aqine">
          <sub>EMAIL</sub>
          <span>{{email}}</span>
        </div>
      </div>
      <div class="item">
        <span class="icon"><i class="fa-solid fa-phone fa-lg" style="color: #FFDB70;"></i></span>
          <div class="aqine">
            <sub>PHONE</sub>
            <span>+995 599 13 33 79</span>
          </div>
        </div>
      <div class="item">
        <span class="icon"><i class="fa-solid fa-cake-candles fa-lg" style="color: #FFDB70;"></i></span>
        <div class="aqine">
          <sub>BIRTHDAY</sub>
            <span>October 17, 2008</span>

        </div>
      </div>
      <div class="item">
        <span class="icon"><i class="fa-solid fa-location-dot fa-lg" style="color: #FFDB70;"></i></span>
        <div class="aqine">
          <sub>LOCATION</sub>
                  <span>Tbilisi, Georgia</span>

        </div>
      </div>
    </div>
    <button class="show-info-btn" (click)="toggleInfo()">Show Contacts</button>
  </aside>
</div>