    <div class="container">

      <app-sidebar class="sidebar"></app-sidebar>

      <div class="mainnnn">
        <div class="nav">

            <app-navbar></app-navbar>

        </div>
    <main class="main-content">
          <section class="about">
          <h1>Resume</h1>
          <div class="hr1"></div>
            
          <div class="icon">
<i class="fa-solid fa-book-open fa-lg" style="color: #ffdb70;"></i>
          </div>
        </section>




        
      </main>
      </div>
      
    </div>


