<div class="container">
  <div class="main-side">
<aside class="sidebar">
    <div class="avatar">
            <a routerLink="/"><img src="https://codewithsadee.github.io/vcard-personal-portfolio/assets/images/my-avatar.png" alt="dasdad"></a> 

    </div>
    <h2>Tsotne Ivanashvili</h2>
    <div class="role">Web developer</div>
    <div class="hr"></div>
    <div class="info">
      <div class="item">
        <span class="icon"><i class="fa-solid fa-envelope fa-lg" style="color: #FFDB70;"></i></span>
        <span>{{email}}</span>
      </div>
      <div class="item">
        <span class="icon"><i class="fa-solid fa-phone fa-lg" style="color: #FFDB70;"></i></span>
        <span>+995 599 13 33 79</span>
      </div>
      <div class="item">
        <span class="icon"><i class="fa-solid fa-cake-candles fa-lg" style="color: #FFDB70;"></i></span>
        <span>October 17, 2008</span>
      </div>
      <div class="item">
        <span class="icon"><i class="fa-solid fa-location-dot fa-lg" style="color: #FFDB70;"></i></span>
        <span>Tbilisi, Georgia</span>
      </div>
    </div>
  </aside>
  </div>
  

  <div class="mainnnn">
    <div class="nav">
        <app-navbar></app-navbar>

    </div>
<main class="main-content">
      <section class="about">
      <h1>About Me</h1>
      <p>Hello! I’m Tsotne Ivanashvili, a passionate web developer based in Tbilisi, Georgia.</p>
        <p>I specialize in building modern, responsive websites using technologies like HTML, CSS, JavaScript, TypeScript, React and Angular. I enjoy turning ideas into real-world web experiences that are both visually appealing and highly functional.</p>
        <p>Whether it's creating an interactive front-end with clean UI/UX or integrating functionality behind the scenes, I love the challenge of solving problems through code.

Outside of coding, I enjoy learning new technologies, experimenting with design, and building side projects that push my skills further.

I’m always excited to collaborate on creative web projects or contribute to something meaningful.</p>
    </section>

    <section class="what-i-do">
      <h2>What I'm Doing</h2>
      <div class="cards">
        <div class="card">
          <h3>Web Design</h3>
          <p>The most modern and high-quality design made at a professional level.</p>
        </div>
        <div class="card">
          <h3>Web Development</h3>
          <p>High-quality development of sites at the professional level.</p>
        </div>
        <div class="card">
          <h3>Mobile Apps</h3>
          <p>Professional development of applications for iOS and Android.</p>
        </div>
        <div class="card">
          <h3>Photography</h3>
          <p>I make high-quality photos of any category at a professional level.</p>
        </div>
      </div>
    </section>
    
  </main>
  </div>
  
</div>
